@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,600;1,700&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

:root {
  --bg: #f7f6dc;
  --primary: #f06a44;
  --secundary: #49999e;
  --outher: #e7e6d1;
  --font1: "Poppins", sans-serif;
  --font2: "Josefin Sans", sans-serif;
  --color: #1f1f1f;
  --maxw: 1230px
}

body {
  background-color: #f7f6dc;
  font-family: var(--font1)
}

img {
  max-width: 100%;
  display: block
}

ul li {
  list-style: none
}

a {
  text-decoration: none
}

a.button {
  display: inline-block;
  font-family: var(--font1);
  border: 3px solid var(--primary);
  border-radius: 3rem;
  color: #fff;
  background-color: var(--primary);
  padding: 10px 14px;
  font-weight: 600;
  width: fit-content;
  padding: .5rem 1.25rem;
  flex-shrink: 0
}

h2 {
  font-size: 2rem;
  font-weight: 900;
  color: var(--primary)
}

p {
  font-size: 1rem;
  font-weight: 500
}

strong {
  font-weight: 700
}

.content {
  max-width: var(--maxw);
  min-height: 100vh;
  margin: 0 auto;
  padding: 50px
}

.fullBleed {
  box-shadow: 0 0 0 100vmax var(--secundary);
  clip-path: inset(0 -100vmax);
  color: var(--bg)
}

.fullBleed h2 {
  color: var(--bg)
}

.content.blue {
  background-color: var(--secundary)
}

.grid2 {
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  align-items: center !important
}

@media (max-width:950px) {
  body {
    background-color: #f7f6dc !important;
    padding: 0 !important
  }

  header {
    padding: 0 1rem
  }

  main {
    padding: 10px
  }
}

header.header-login {
  max-width: var(--maxw);
  height: 60px;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6.25rem
}

header.header-login nav ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 23px
}

header.header-login nav ul.login {
  flex-wrap: nowrap
}

header.header-login nav ul li a {
  font-family: var(--font1);
  color: var(--color);
  font-size: 1.125rem;
  font-weight: 600;
  padding: 10px 14px
}

header.header-login nav ul li a.button {
  border: 3px solid var(--primary);
  border-radius: 3rem;
  color: var(--primary);
  background-color: initial;
  word-break: unset
}

.menu-hambur {
  position: relative;
  display: none;
  width: 40px;
  height: 30px
}

.menu-hambur .menu-icon {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer
}

.menu-hambur .menu-icon span {
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 3rem;
  background-color: var(--primary)
}

.menu-hambur .menu-content {
  display: block;
  opacity: 0;
  background-color: var(--primary);
  margin-top: 10px;
  border-radius: 20px 0 20px 20px;
  position: absolute;
  width: 350px;
  height: auto;
  padding: 30px 15px;
  z-index: 1;
  right: 0;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, .3);
  transition: opacity .2s ease-in-out
}

.menu-hambur .menu-content.effect {
  opacity: 1
}

.menu-hambur .menu-content nav ul {
  text-align: center;
  flex-direction: column
}

.menu-hambur .menu-content nav ul li {
  position: relative;
  width: 100%
}

.menu-hambur .menu-content nav ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--color);
  opacity: .5;
  left: 0;
  bottom: 2px
}

.menu-hambur .menu-content nav ul li a {
  display: block;
  width: 100% !important;
  height: 100%;
  color: #fff
}

@media (max-width:1000px) {
  header.header-login nav ul li a {
    font-size: 1rem
  }
}

@media (max-width:950px) {
  header.header-login {
    padding: 0 30px
  }

  .header-menu {
    display: none
  }

  .menu-hambur {
    display: block
  }
}

.actions {
  max-width: var(--maxw);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px
}

.actions .filter {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  gap: 20px
}

.actions .filter form {
  width: 320px;
  height: 50px;
  background-color: #c8c8c8;
  border-radius: 10rem
}

.actions .filter form label {
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 20px 0 10px
}

.actions .filter form label input {
  height: 60%;
  width: 100%;
  padding-left: 5px;
  background-color: transparent;
  outline: 0;
  border: none;
  font-size: 1rem
}

.actions .filter form label input::placeholder {
  color: #000
}

.actions .filter .filtros {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 23px
}

.actions .filter .filtros .filtro {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--secundary);
  padding: 4px 28px;
  border-radius: 10rem;
  color: var(--bg);
  cursor: pointer
}

.actions .filter .filtros .filtro span {
  position: absolute;
  display: block;
  width: 2rem;
  height: 100%;
  background: url("../Midia/icons/trash2.svg") no-repeat center center;
  background-size: 16px;
  background-color: var(--primary);
  right: -.9rem;
  padding: 0 5px;
  border-radius: 0 10rem 10rem 0;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-2px);
  transition: opacity .2s, transform .2s ease-in .2s
}

.actions .filter .filtros .filtro:hover span {
  visibility: visible;
  opacity: 1;
  transform: translateX(0)
}

.actions .addPets {
  margin-left: auto;
  width: 35px;
  height: 35px
}

@media (max-width:950px) {
  .actions {
    flex-direction: column-reverse;
    margin-bottom: 30px
  }

  .actions .addPets {
    margin-left: auto;
    margin-bottom: 30px
  }

  .actions .filter {
    flex-direction: column;
    align-items: start
  }

  .actions .filter form {
    width: 100%
  }
}

main {
  min-height: calc(100vh - 12.5rem);
  max-width: var(--maxw);
  margin: 0 auto
}

main .container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 90px;
  position: relative
}

main .container::after {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: .8rem;
  background-color: var(--primary);
  bottom: 0;
  right: 0;
  border-radius: 1rem
}

main .container div {
  align-self: center;
  font-family: var(--font1)
}

main .container div h1 {
  font-size: 3rem;
  color: var(--primary);
  font-weight: 900
}

main .container div p {
  font-size: 2rem;
  margin-bottom: 1rem;
  line-height: 3.25rem
}

@media (max-width:950px) {
  main {
    padding: 0 10px
  }

  main .container {
    grid-template-columns: 1fr;
    gap: 20px
  }

  main .container::after {
    display: none
  }

  main .container div {
    align-self: center;
    text-align: center;
    font-family: var(--font1)
  }

  main .container img {
    justify-self: center;
    height: 30rem
  }
}

.header-admin {
  height: 160px;
  background-color: var(--secundary);
  margin-bottom: 88px
}

.header-admin div {
  max-width: var(--maxw);
  height: inherit;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.header-admin div>a img {
  width: 217px
}

.header-admin div>a:last-child img {
  width: 51px
}

.header-admin div>p {
  font-weight: 900;
  font-size: 2rem;
  color: var(--bg)
}

main.mainAdmin {
  min-height: auto !important
}

@media (max-width:950px) {
  .header-admin div>a img {
    width: 157px
  }

  .header-admin div>p {
    font-size: 1rem;
    text-align: center
  }
}

table {
  position: relative;
  max-width: var(--maxw);
  width: 100%;
  margin: 0 auto;
  border-spacing: 1rem;
}

.tableContent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
}

table th {
  text-align: left
}

table td {
  min-width: 114px;
  border-bottom: 1.5px solid #000
}

table td:nth-child(1) {
  max-width: 200px;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

table td:nth-child(7) {
  min-width: 0px;
}

table td.last {
  margin-left: 20px;
  border: none;
  display: flex;
  gap: 20px;
}

table td.last img {
  height: 25px;
}

table tfoot td {
  margin-top: 2rem;
  border: none;
}


.paginationButtons {
  display: flex;
  justify-content: end;
  gap: 10px
}

.paginationButtons button {
  border: none;
  outline: 0;
  background-color: initial;
  cursor: pointer
}

.paginationButtons button:last-child {
  transform: rotate(180deg)
}

.paginationButtons button img {
  height: 1.25rem
}

@media (max-width:950px) {
  .header-admin {
    margin-bottom: 40px
  }

  .tableContent {
    overflow-x: auto
  }

  table {
    overflow-x: scroll;
    margin-bottom: 0
  }

  table td {
    min-width: 40px;
    padding: 0 4px;
    text-align: center;
    border-bottom: 1.5px solid #000
  }

  table td:nth-child(2) {
    text-align: start;
    min-width: 50px;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
  }

  table td a {
    width: 30px
  }

  .paginationButtons {
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    height: auto;
    margin-bottom: 20px
  }

  .paginationButtons p {
    font-size: 2rem
  }

  .paginationButtons button img {
    height: 3rem
  }
}